<div class="container">
  <br>
  <h3 class="header center">管理人登録</h3>
  <br><br>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "admins/shared/error_messages", resource: resource %>
    <div class="input-field row col s12">
      <%= f.label :email %>
      <%= f.email_field :email, autocomplete: "email" %>
    </div>
    <br>
    <div class="input-field row col s12">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "new-password" %>
      <span class="helper-text">・半角英数字6文字以上で入力してください</span>
    </div>
    <br>
    <div class="input-field row col s12">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
    <br>
    <div class="row actions center-align col 4">
      <button class="btn waves-effect waves-light"><%= f.submit "登録する", style:"color: white;" %><i class="material-icons right">create</i></button>
    </div>
  <% end %>
</div>