<div class="splash">
  <div class="splash-logo">
    <span class="grey-text text-lighten-5">Now Loading...</span>
  </div>
</div>
<div class="splashbg1"></div>
<div class="splashbg2"></div>

<div class="container1">
  <div class="row center">
    <%= link_to root_path do%>
      <h1 class="header center">HelloWorld</h1>
    <% end %>
    <br><br>
    
    <div class="container">
      <div class="row">
        <%= form_with(url: search_recommends_path, method: :get, class: "col s12") do |f| %>
          <div class="row">
            <div class="input-field col s9">
              <%= f.text_field :term, class: "materialize-textarea", id:"search" %>
              <%= f.label :search, "曲名またはアーティストを入力してください" %>
            </div>
            <div class="col s3">
              <button class="btn waves-effect waves-light"><%= f.submit "検索", id: "submit" %></button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="container">
      <div class="row ">
        <%= form_with model: @recommend, url: recommends_path, local: true do |r| %>
          <%= r.hidden_field :recommender_id, value: current_recommender.id%>
          <div class="row">
            <div class="input-field col s12">
              <%= r.text_field :title, class: "materialize-textarea" %>
              <%= r.label :title, "タイトルを入力してください" %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <%= r.text_field :message, class: "materialize-textarea" %>
              <%= r.label :message, "メッセージがあれば入力してください" %>
            </div>
          </div>
          <div class="row result">
          </div>
          <div class="row">
            <div class="col s3">
              <button class="btn waves-effect waves-light"><%= r.submit "送信" %></button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>